{% extends 'base.html.twig' %} {% block title %}echange materiel{% endblock %}
{% block content %}
<div style="height: 80vh;">
    <h1 style="text-align: center;">list of materiel</h1>
    <hr>
    <table style="text-align: center;" class="table" border="1">
        <th>proprietaire</th>
        <th>title</th>
        <th>price</th>
        <th>type de Publication</th>
        <th colspan="2">operations</th>
        {% for m in materiel  %}

        <tr>
          <td>
            {{ m.getUser.getFirstName ~" "~ m.getUser.getLastName}}
          </td>
          <td>{{ m.title }}</td>
          <td>{{ m.price ~ " dt"}}</td>
          <td>{{ m.typePublication.name }}</td>
          <td><a class="btn btn-warning"href="{{ path("updateM",{"id":m.id}) }}">update</a></td>
        <td> <a class="btn btn-danger" href="{{ path("deleteM",{"id":m.id}) }}">delete</a></td>
        </tr>
        {% endfor %}
      </table>
      <hr>
        <center><a href="{{ path("addmateriel") }}" class="btn btn-primary">Add product</a></center>

</div>
  {% endblock %}

