{% extends 'base.html.twig' %} {% block title %}echange materiel{% endblock %}
{% block content %}

<h1 style="text-align: center;">
{{materiel.title}} </h1>
<table class="table" style="width: 50%;margin-left: 20%;" >
  <tr>
    <td colspan="2"><img src="{{vich_uploader_asset(materiel , 'imageFile') }}"  style="width: 100%;" ></td>
  </tr>
  <tr>
    <td>Title</td>

    <td>{{materiel.title}}</td>
  </tr>
  <tr>
    <td>Description</td>
    <td>{{materiel.description}}</td>
  </tr>
  <tr>
    <td>Price</td>
    <td>{{materiel.price ~ " dt"}}</td>
  </tr>
  <tr>
    <td>Category</td>
    <td>{{materiel.categorie.name}}</td>
  </tr>
  <tr>
    <td>Owner</td>
    <td>{{materiel.user.firstname ~ " " ~ materiel.user.lastname }}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>{{materiel.user.email}}</td>
  </tr>
  <tr>
    <td>Phone Number</td>
    <td>{{materiel.getUser().getPhoneNumber() }}</td>
  </tr>
  <tr>
    <td>etat</td>
    {% if materiel.visible == true %}
    <td>  <a href="#" class="btn btn-warning btn-lg disabled" role="button" aria-disabled="true">Vendu</a></td>
    {% else %}
    <td>  <a href="#" class="btn btn-success btn-lg disabled" role="button" aria-disabled="true">disponible</a></td>
{% endif %}

  </tr>

</table>




{% endblock %}